:root {
    --violeta-oscuro: #25064D;
    --violeta-claro: #6911DA;
    --rosado: #D3435D;
    --anaranjado: #D0853A;
    --azul: #073ED1;
}

* {
    font-family: Jost;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** ****** BARRA DE NAVEGACION ****** **/

.mainNav {
    width:100%;
    height: auto;
    background-color: var(--violeta-oscuro);
    border:1px solid white;
    z-index: 10;
    color:white;
    float:left;
    position: absolute;
    top: 0;
}

.mainNavMenu li{
    float: left;
    list-style-type: none;
    margin-left: 2vh;
    margin-top: 2vh;
}

.mainNavMenu li a {
    color: white;
    text-decoration: none;
}

.mainNavMenu img {
    width:14px; 
    padding-right: 0.5px;
}

.mainNavHamburger {
    float:left;
    margin: 2vh; 
    width: 3vh;
    height: 3vh;
}

/** ****** CAROUSEL ****** **/
.mainCarousel {
    width: 100vw;
    height: 50vh;
    display: flex; /* Para centrar el contenido si se desea */
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 1px solid var(--violeta-claro);
    z-index: 1;
}